@using EnjoyAuth.Components.Account.Shared
<Router AppAssembly="@typeof(Program).Assembly" >
    <Navigating>
        <p>Loading the requested page&hellip;</p>
    </Navigating>
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
</Router>
