@inherits LayoutComponentBase

<div class="cds-layout">
    <NavMenu />

    <main style="padding:3rem;">
        <div class="cds--grid">
            <div class="cds--row">
                <div class="cds--col-lg-13 cds--offset-lg-3">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>





